:root{
--primary: #8e24aa;
--secondary: #fc5858;
--background-light: #f3b2d0;
--white: #ffffff;
--text: #333;
}
Body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-light);
    color: var(--text);
    margin: 0;
}
nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1.5rem 5%;
background: var(--white);
border-bottom: 3px solid var(--primary);
}
nav a{
    text-decoration: 900;
    color: var(--text);
    margin-left: 500;
    transition: color 0.3;
}
nav a:hover {
    color: var(--primary);
}
.placeholder-box {
background: linear-gradient( 135deg, var(--primary), var(--secondary));
color: white;
padding: 40px;
border-radius: 15px;
display: flex;
flex-direction: center;
min-height: 200px;
}
.search-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.seacrh-container button {
    padding: 12px;
    border: 2px solid var(--primary);
}
.search-containerinput {
    width: 300px;
    border-radius: 25px 0 0 25px;
    outline: none;
}
.search-container button {
    background: var(--primary);
    color: var(--white);
    border-left: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}
.collections, .product-grid {
    display: grid;
    gap: 20px;
    padding: 0.5%;
}
.collections {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.product-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.product-card {
    height:250px;
    background: var(--white);
    border:1px solid #eee;
    border-bottom: 14px xolid var(--seconadry);
    border-radius: 10px;
}
.products-section {
    padding: 50px 5%;
    text-align: center;
}
.filter-tabs span {
    margin:0 15px;
    cursor:pointer;
    font-weight:bold;
    color: var(--primary);
}
button {
    margin-top:10px;
    padding:10px 20px;
    background:var(--white);
    color:var(--primary);
    border:none;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
}
button:hover {
    transform: scale(1.05);
}
footer {
    background: #48164d;
    color:var(--white);
    padding: 40px 5%;
    margin-top: 50px;
}
.faq-line {
height: 1px;
background:rgba(252, 247, 248, 0.973);
margin: 15px 0;
}

